<!doctype html>
<html lang=en>
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% include "snips/css.html" %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{config.application['title']}}</title>
    <img src="http://www.aikcu.org/wp-content/uploads/2011/07/BereaLogo.png" alt="" width="225" height="225"/><br>
    
  </head>
  
  <body>
      
      {% block body %}
      
      
      {% endblock %}
      {% include "snips/footer-js.html" %}
      
  </body>
</html>
