{% extends "base.html" %}

{% block body %}

{% include "navBar.html" %}

<h2> Viewing {{ entry.title_of_position }}</h2>
    {% if role == 'admin' %}
      <form>
       <div class="col-xs-12 col-md-6 form-group">
         {% for title in config["internship"] %}
             <label>{{title["title"]}}</label>
             {% if title["title"] == "Deadline"%}
               <input type = "date" class="form-control" name="{{entry[title["dbField"]]}}" value = "{{entry[title["dbField"]]}}" readonly ></input>
             {% else %}
             <input class="form-control" name="{{entry[title["dbField"]]}}" value = "{{entry[title["dbField"]]}}" readonly ></input>
             {% endif %}
         {% endfor%}
       </div> 
       <div>
         
          <a onclick="window.location.href='/adminApprove/{{entry.iid}}'" class = "btn btn-success" >APPROVED</a>
          <a onclick="window.location.href='/adminDecline/{{entry.iid}}'" class="btn btn-success">DECLINE</a>
          <a href="{{url_for('adminSubmitted') }}" class = "btn btn-success">BACK</a>
       </div>
     </form>

    {% elif role == 'employer' %}
    
     <form>
       <div class="col-xs-12 col-md-6 form-group">
         {% for title in config["internship"] %}
             <label>{{title["title"]}}</label>
             {% if title["title"] == "Deadline"%}
               <input type = "date" class="form-control" name="{{entry[title["dbField"]]}}" value = "{{entry[title["dbField"]]}}" readonly ></input>
             {% else %}
             <input class="form-control" name="{{entry[title["dbField"]]}}" value = "{{entry[title["dbField"]]}}" readonly ></input>
             {% endif %}
         {% endfor%}
       </div> 
       <div>
         {% if entry.is_submitted != True %}
          <a onclick="window.location.href='/editInternshipPosition/{{entry.iid}}'" class = "btn btn-success" >EDIT</a>
          {% endif %}
          <a href="{{url_for('employerInternships') }}" class = "btn btn-success">BACK</a>
       </div>
     </form>
    {% else %}
    
     <form>
       <div class="col-xs-12 col-md-6 form-group">
         {% for title in config["internship"] %}
           
           {% if title["title"] == "Deadline"%}
             <label>{{title["title"]}}</label>
             <input type = "date" class="form-control" name="{{title["dbField"]}}" value = "{{entry[title["dbField"]]}}" readonly></input>
           {% elif title["dbField"] not in ("supervisor_name", "supervisor_phone", "supervisor_email") %}
                 <label>{{title["title"]}}</label>
                 <input class="form-control" name="{{title["dbField"]}}" value = "{{entry[title["dbField"]]}}" readonly></input>
           {% endif %}
          
           
             
         {% endfor%}
       </div> 
      </form>
      
        <a href = "{{url_for('studentInternshipSearch') }}" class = "btn btn-success">BACK</a>
    {% endif %}
        
<script type="text/jquery">
  if (window.navigator.userAgent.substring(0,7) == "Mozilla") {
    $("test").type = "text"; 
  }
</script>  

{% endblock %}