{% extends "base.html" %}

{% block body %}

{% include "navBar.html" %}

</div>
<br/>
<br/>

<table class="table">
<thead>
  <tr>
    <th>Title of Internship</th>
    <th>Description  of Position</th>
    <th>Location of Internship</th>
    <th>Deadline</th>
    <th>Status</th>
  </tr>
</thead>
<tbody>
<h3 align = "center">Approved Internships</h3>
<br/>
{% for post in posting %}
  <tr>
    <td style="cursor: pointer;" onclick="window.location.href='/internshipDetails/{{post.iid}}'">{{post.title_of_position}}</td>
    <td>{{post.description_of_position}}</td>
    <td>{{post.location_of_internship}}</td>
    <td>{{post.deadline}}</td>
    <td style="color:orange;">
      {% if post.is_approved == 1 %}
        APPROVED
      {% endif %}
    </td>
     
     
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
