{% extends "base.html" %}

{% block body %}

{% include "navBar.html" %}

<div align="center">
  <img src="https://www.askideas.com/media/13/Welcome-Sticky-Note.png"></img>
</div>

<div>
  <p>This is the view for the function <strong style="color: red;">studentLanding</strong>.</p>
</div>

<div class="col-md-3 col-offset-3">
  <p> It serves the route <strong style="color: red;">/studentLanding</strong>.</p>
</div>

{% endblock %}
