{% extends "base.html" %}

{% block body %}
{% include "navBar.html" %}
<h2> Viewing {{ entry.title_of_position }}</h2>

  <form action="{{url_for('studentInternshipSearch') }}">
      {% for field in form %}
        <p>{{ field.label }} {{ field }}</p>
      {% endfor %}
      <p><button>Back</button></p>
  </form>
    
{% endblock %}
